/* 425x926 */

@media (max-width: 430px) {

    .main-header {
        display: flex;
        flex-direction: column;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .curiosity-cards {
        display: flex;
        flex-direction: column;
    
    } 

    video {
        height: 230px;
        width: 350px;
    }

}