/* 425x926 */

@media (max-width: 430px) {

    .main-header {
        display: flex;
        position: static;
        flex-direction: column;
        width: 100vh;
        height: 200px;
        justify-content: center;
        align-items: center;
    }

    .menu-navegation .list-itens {
        display: flex;
        align-items: center;
        padding: 5px;
        justify-content: center;

    }

    ul li {
        width: 117px;
        justify-content:center;
    }

    ul li a {
        font-size: 14px;
        text-align: center;
    }

    .main-content {
        padding: 0px;
    }

    .banner {
        background-repeat: no-repeat;
    }

    .curiosity-cards {
        display: flex;
        flex-direction: column;
    } 

    video {
        height: 230px;
        width: 350px;
    }

}